body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, h2, h3, h4, h5, h6, p, span, a, button, input, textarea {
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 480px) {
  .quiz-container {
    padding: '10px'; /* Reduce padding for very small screens */
  }

  .question-box {
    padding: '8px'; /* Further reduce padding for very small screens */
  }

  .question-text {
    font-size: '16px'; /* Smaller font size for questions */
  }

  .option-button {
    padding: '6px'; /* Smaller padding for buttons */
    font-size: '12px'; /* Smaller font size for buttons */
  }
}